.focus {
  width: 977px;
  height: 230px;
  position: relative;
  overflow: hidden;
}
.focus .box {
  position: absolute;
  left: 0;
  padding: 0;
  width: 3300px;
}
.focus .box ul {
  float: left;
  width: 900px;
  margin-left: 50px;
  height: 230px;
}
.focus .box ul li {
  float: left;
  width: 200px;
  height: 230px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 23px;
}
.focus .box ul li:hover {
  margin-right: 0;
}
.focus .box ul li img {
  width: 100%;
}
.focus button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  outline: none;
  cursor: pointer;
  font: bold 100px 楷体;
  background: transparent;
}
.focus button.btn1 {
  left: 0;
}
.focus button.btn2 {
  right: -3px;
}
