main {
  background: #f7f7f7;
}
main .header_nav {
  width: 100%;
  background: #fff;
  border-top: 2px solid #ccc;
}
main .header_nav .nav {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #c9c9c9;
}
main .header_nav .nav h1 {
  font-weight: 500;
  font-size: 45px;
  padding: 30px 0 20px;
}
main .header_nav .nav span {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 20px;
}
main .header_nav .nav span.active {
  border-bottom: 3px solid red ;
  color: #f33a34;
}
main .header_nav .nav span.active a {
  color: #f33a34;
}
main .header_nav .nav span a {
  color: #3a3a3a;
}
main .header_nav .nav span a:hover {
  color: #ff6700;
}
main .header_nav .subnav {
  margin: 0 auto;
  height: 50px;
}
main .header_nav .subnav ul {
  display: flex;
  justify-content: center;
}
main .header_nav .subnav ul li {
  padding: 0 60px;
  line-height: 50px;
  color: #ababab;
}
main .header_nav .subnav ul li.active {
  color: black;
}
main .header_nav .subnav ul li.active a {
  color: black;
}
main .header_nav .subnav ul li a {
  color: #888;
}
main .shangpin .nav_shop_all {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
main .shangpin .nav_shop_all ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
main .shangpin .nav_shop_all ul li {
  width: 230px;
  height: 290px;
  margin: 25px 10px 13px;
  border-radius: 6px;
  position: relative;
  background: white;
}
main .shangpin .nav_shop_all ul li img {
  width: 100%;
  height: 135px;
  border-radius: 6px 6px 0 0;
}
main .shangpin .nav_shop_all ul li img:hover {
  transition: all 0.5s;
  animation: imgMove 0.8s infinite linear;
}
@keyframes imgMove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
main .shangpin .nav_shop_all ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
main .shangpin .nav_shop_all ul li .weizhi {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
main .shangpin .nav_shop_all ul li .weizhi .shu {
  display: inline-block;
  width: 48px;
  height: 25px;
  color: #f00;
  border: 1px solid #f00;
  border-radius: 5px;
}
main .shangpin .nav_shop_all ul li .weizhi .ren {
  display: inline-block;
  width: 48px;
  height: 25px;
  margin-right: 10px;
}
main .shangpin .nav_shop_all ul li .weizhi div {
  margin: 8px 0;
}
main .shangpin .nav_shop_all ul li .weizhi div span {
  color: red;
}
main .shangpin .nav_shop_all ul li .weizhi .number {
  color: #f00;
}
main .shangpin .nav_shop_all ul li .firstIssue {
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  background: #ff4949;
  border-radius: 0 6px 0 6px;
  padding: 0 5px;
}
main .shangpin .nav_shop_all ul li:nth-of-type(3n-1) .shu {
  display: inline-block;
  width: 48px;
  height: 25px;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
}
main .shangpin .nav_shop_all ul li:nth-of-type(3n-1) .number {
  color: green;
}
main .shangpin .nav_shop_all ul li:nth-of-type(3n-1) .firstIssue {
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  background: #ccc79e;
  border-radius: 0 6px 0 6px;
  padding: 0 5px;
}
main .shangpin .nav_shop_apply {
  display: none;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
main .shangpin .nav_shop_apply ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .shangpin .nav_shop_apply ul li {
  width: 220px;
  height: 290px;
  margin: 25px 0 35px;
  border-radius: 6px;
  position: relative;
}
main .shangpin .nav_shop_apply ul li img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
main .shangpin .nav_shop_apply ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
main .shangpin .nav_shop_apply ul li .shu {
  display: inline-block;
  width: 48px;
  height: 25px;
  border: 1px solid #c9c9c9;
  color: #c9c9c9;
  border-radius: 5px;
}
main .shangpin .nav_shop_apply ul li .ren {
  display: inline-block;
  width: 48px;
  height: 25px;
  border: 1px solid #c9c9c9;
  margin-right: 13px;
}
main .shangpin .nav_shop_apply ul li div {
  margin: 12px 0;
}
main .shangpin .nav_shop_apply ul li div span {
  color: red;
}
main .shangpin .nav_shop_apply ul li .number {
  color: #c9c9c9;
}
main .shangpin .nav_shop_apply ul li .firstIssue {
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  background: #ff4949;
  border-radius: 0 8px 0 8px;
}
main .shangpin .nav_shop_apply .apply_no {
  margin: 20px 0 30px;
  color: #c9c9c9;
}
main .shangpin .nav_shop_InTheTrial {
  display: none;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
}
main .shangpin .nav_shop_InTheTrial ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .shangpin .nav_shop_InTheTrial ul li {
  width: 220px;
  height: 290px;
  margin: 25px 0 35px;
  border: 1px solid red;
  border-radius: 6px;
  position: relative;
}
main .shangpin .nav_shop_InTheTrial ul li img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
main .shangpin .nav_shop_InTheTrial ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
main .shangpin .nav_shop_InTheTrial ul li .InTheTrial_shu {
  display: inline-block;
  width: 48px;
  height: 25px;
  border: 1px solid #14b114;
  color: #49c476;
  border-radius: 5px;
}
main .shangpin .nav_shop_InTheTrial ul li .ren {
  display: inline-block;
  width: 48px;
  height: 25px;
  border: 1px solid #c9c9c9;
  margin-right: 13px;
}
main .shangpin .nav_shop_InTheTrial ul li div {
  margin: 12px 0;
}
main .shangpin .nav_shop_InTheTrial ul li div span {
  color: red;
}
main .shangpin .nav_shop_InTheTrial ul li .InTheTrial_number {
  color: #2bc16c;
}
main .shangpin .nav_shop_InTheTrial ul li .InTheTrial {
  position: absolute;
  top: -1px;
  right: 0;
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  background: #ff4949;
  border-radius: 0 8px 0 8px;
}
main .shangpin .nav_shop_InTheTrial .apply_no {
  margin: 20px 0 30px;
  color: #c9c9c9;
}
main .shangpin .nav_shop_over {
  display: none;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
}
main .shangpin .nav_shop_over ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .shangpin .nav_shop_over ul li {
  width: 220px;
  height: 290px;
  margin: 25px 0 35px;
  border-radius: 6px;
  position: relative;
  background: #fff;
}
main .shangpin .nav_shop_over ul li img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
main .shangpin .nav_shop_over ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
main .shangpin .nav_shop_over ul li .InTheTrial_shu {
  display: inline-block;
  width: 48px;
  height: 25px;
  border: 1px solid #14b114;
  color: #49c476;
  border-radius: 5px;
}
main .shangpin .nav_shop_over ul li .ren {
  display: inline-block;
  width: 48px;
  height: 25px;
  border: 1px solid #c9c9c9;
  margin-right: 13px;
}
main .shangpin .nav_shop_over ul li div {
  margin: 12px 0;
}
main .shangpin .nav_shop_over ul li div span {
  color: red;
}
main .shangpin .nav_shop_over ul li .InTheTrial_number {
  color: #2bc16c;
}
main .shangpin .nav_shop_over ul li .InTheTrial {
  position: absolute;
  top: -1px;
  right: 0;
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  background: #ff4949;
  border-radius: 0 8px 0 8px;
}
main .shangpin .nav_shop_over .apply_no {
  margin: 20px 0 30px;
  color: #c9c9c9;
}
main .shangpin .exclusive_shop_all {
  display: none;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
}
main .shangpin .exclusive_shop_all ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .shangpin .exclusive_shop_all ul li {
  width: 220px;
  height: 290px;
  margin: 25px 0 35px;
  border-radius: 6px;
  position: relative;
  background: #fff;
}
main .shangpin .exclusive_shop_all ul li img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
main .shangpin .exclusive_shop_all ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
main .shangpin .exclusive_shop_all ul li .e_InTheTrial_shu {
  display: inline-block;
  width: 48px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #f32929;
  color: #f33a34;
  border-radius: 5px;
}
main .shangpin .exclusive_shop_all ul li .e_InTheTrial_ren {
  margin-right: 13px;
}
main .shangpin .exclusive_shop_all ul li div {
  margin: 12px 0;
}
main .shangpin .exclusive_shop_all ul li div span {
  color: red;
}
main .shangpin .exclusive_shop_all ul li .e_InTheTrial_number {
  color: #f84842;
}
main .shangpin .exclusive_shop_all ul li .e_InTheTrial {
  position: absolute;
  top: -1px;
  right: 0;
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  background: #dfdc90;
  border-radius: 0 6px 0 7px;
}
main .shangpin .exclusive_shop_all .e_apply_no {
  margin: 20px 0 30px;
  color: #c9c9c9;
}
main .shangpin .exclusive_shop_apply {
  display: none;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
}
main .shangpin .exclusive_shop_apply ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .shangpin .exclusive_shop_apply ul li {
  width: 220px;
  height: 290px;
  margin: 25px 0 35px;
  border-radius: 6px;
  position: relative;
  background: #fff;
}
main .shangpin .exclusive_shop_apply ul li img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
main .shangpin .exclusive_shop_apply ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
main .shangpin .exclusive_shop_apply ul li .e_InTheTrial_shu {
  display: inline-block;
  width: 48px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #f32929;
  color: #f33a34;
  border-radius: 5px;
}
main .shangpin .exclusive_shop_apply ul li .e_InTheTrial_ren {
  margin-right: 13px;
}
main .shangpin .exclusive_shop_apply ul li div {
  margin: 12px 0;
}
main .shangpin .exclusive_shop_apply ul li div span {
  color: red;
}
main .shangpin .exclusive_shop_apply ul li .e_InTheTrial_number {
  color: #f84842;
}
main .shangpin .exclusive_shop_apply ul li .e_InTheTrial {
  position: absolute;
  top: -1px;
  right: 0;
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  background: #dfdc90;
  border-radius: 0 6px 0 7px;
}
main .shangpin .exclusive_shop_apply .e_apply_no {
  margin: 20px 0 30px;
  color: #c9c9c9;
}
main .shangpin .exclusive_shop_InTheTrial {
  display: none;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
}
main .shangpin .exclusive_shop_InTheTrial ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .shangpin .exclusive_shop_InTheTrial ul li {
  width: 220px;
  height: 290px;
  margin: 25px 0 35px;
  border-radius: 6px;
  position: relative;
  background: #fff;
}
main .shangpin .exclusive_shop_InTheTrial ul li img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
main .shangpin .exclusive_shop_InTheTrial ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
main .shangpin .exclusive_shop_InTheTrial ul li .e_InTheTrial_shu {
  display: inline-block;
  width: 48px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #f32929;
  color: #f33a34;
  border-radius: 5px;
}
main .shangpin .exclusive_shop_InTheTrial ul li .e_InTheTrial_ren {
  margin-right: 13px;
}
main .shangpin .exclusive_shop_InTheTrial ul li div {
  margin: 12px 0;
}
main .shangpin .exclusive_shop_InTheTrial ul li div span {
  color: red;
}
main .shangpin .exclusive_shop_InTheTrial ul li .e_InTheTrial_number {
  color: #f84842;
}
main .shangpin .exclusive_shop_InTheTrial ul li .e_InTheTrial {
  position: absolute;
  top: -1px;
  right: 0;
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  background: #dfdc90;
  border-radius: 0 6px 0 7px;
}
main .shangpin .exclusive_shop_InTheTrial .e_apply_no {
  margin: 20px 0 30px;
  color: #c9c9c9;
}
main .shangpin .exclusive_shop_over {
  display: none;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
}
main .shangpin .exclusive_shop_over ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .shangpin .exclusive_shop_over ul li {
  width: 220px;
  height: 290px;
  margin: 25px 0 35px;
  border-radius: 6px;
  position: relative;
  background: #fff;
}
main .shangpin .exclusive_shop_over ul li img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
main .shangpin .exclusive_shop_over ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
main .shangpin .exclusive_shop_over ul li .e_InTheTrial_shu {
  display: inline-block;
  width: 48px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #f32929;
  color: #f33a34;
  border-radius: 5px;
}
main .shangpin .exclusive_shop_over ul li .e_InTheTrial_ren {
  margin-right: 13px;
}
main .shangpin .exclusive_shop_over ul li div {
  margin: 12px 0;
}
main .shangpin .exclusive_shop_over ul li div span {
  color: red;
}
main .shangpin .exclusive_shop_over ul li .e_InTheTrial_number {
  color: #f84842;
}
main .shangpin .exclusive_shop_over ul li .e_InTheTrial {
  position: absolute;
  top: -1px;
  right: 0;
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  background: #dfdc90;
  border-radius: 0 6px 0 7px;
}
main .shangpin .exclusive_shop_over .e_apply_no {
  margin: 20px 0 30px;
  color: #c9c9c9;
}
