header .nav {
  height: 75px;
}
header .nav .img {
  float: left;
  margin-top: 10px;
}
header .nav .img img {
  height: 60px;
}
header .nav ul li {
  float: left;
  width: 100px;
  height: 75px;
  font-size: 18px;
}
header .nav ul li:first-of-type {
  margin-left: 50px;
}
header .nav ul li .box {
  position: relative;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
header .nav ul li .box .top1 {
  color: #ff6700;
}
header .nav ul li .box:hover {
  transform: rotateX(90deg);
}
header .nav ul li .box a {
  color: #000;
}
header .nav ul li .box .top,
header .nav ul li .box .bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
}
header .nav ul li .box .top {
  transform: translateZ(30px);
}
header .nav ul li .box .bottom {
  background-color: pink;
  transform: translateY(17.5px) rotateX(-90deg);
  color: #fff;
}
header .nav .zhuce {
  float: right;
  padding-top: 22px;
}
header .nav .zhuce button {
  float: right;
  background: transparent;
  border: 1px solid #ff6700;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}
header .nav .zhuce button a {
  color: #ff6700;
}
header .nav .zhuce span {
  display: inline-block;
  width: 30px;
  height: 38px;
  line-height: 38px;
  font-size: 25px;
  margin-right: 30px;
}
header .nav .zhuce span a {
  color: #333;
}
header .banner1 {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  background: url(../img/original.jpg) no-repeat center center;
}
header .banner1 .w {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 1000px;
}
header .banner1 .w .details {
  float: right;
  margin-top: 20px;
  right: 0;
  transform: translate(800px, -800px);
  animation: move 1s ease both;
}
@keyframes move {
  0% {
    transform: translate(800px, -800px);
  }
  100% {
    transform: translate(0);
  }
}
header .banner1 .w .details h1 {
  color: #fff;
  font-family: 宋体;
  font-size: 34px;
}
header .banner1 .w .details ul {
  margin-left: 40px;
}
header .banner1 .w .details ul li {
  display: inline-block;
  padding: 5px 10px;
  margin: 12px 10px;
  background: #fff;
  opacity: 0.3;
  color: #585656;
  font-size: 16px;
}
header .banner1 .w .details p {
  color: #f0eeee;
  font-size: 16px;
  margin-left: 20px;
  text-align: center;
}
header .banner1 .w .details button {
  width: 240px;
  height: 50px;
  margin: 20px 0 20px 60px;
  font-size: 20px;
  border-radius: 3px;
  background: #f54141;
  color: #fff;
  border: 0;
  outline: none;
}
main .index_hot {
  width: 100%;
}
main .index_hot .w {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}
main .index_hot .w h2 {
  margin: 25px 0 25px 15px;
}
main .index_hot .w > span:nth-of-type(1) {
  float: left;
  margin-left: -60px;
  margin-top: 150px;
}
main .index_hot .w > span:nth-of-type(2) {
  float: right;
  margin-right: -60px;
  margin-top: 150px;
}
main .index_hot .w .hot {
  overflow: hidden;
}
main .index_hot .w .hot ul {
  width: 10000px;
}
main .index_hot .w .hot ul li {
  float: left;
  width: 220px;
  height: 290px;
  margin: 0 15px;
  text-align: center;
  border: 1px solid #e7e6e6;
  border-radius: 7px;
}
main .index_hot .w .hot ul li img {
  width: 100%;
  border-radius: 7px;
}
main .index_hot .w .hot ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
main .index_hot .w .hot ul li > span {
  color: red;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 4px;
}
main .index_hot .w .hot ul li div {
  margin: 13px;
  font-size: 16px;
}
main .index_hot .w .hot ul li div span {
  color: red;
}
main .index_hot .w .hot ul li div:nth-of-type(2) {
  margin: 13px;
  font-size: 16px;
  color: red;
}
main .index_report {
  width: 100%;
  background: #f7f7f7;
}
main .index_report .w {
  width: 1000px;
  margin: 0 auto;
}
main .index_report .w h2 {
  margin: 25px 0 25px 15px;
  padding-top: 20px;
}
main .index_report .w ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .index_report .w ul li {
  position: relative;
  width: 220px;
  height: 235px;
  margin: 0 15px 20px;
  border-radius: 7px;
  background: white;
}
main .index_report .w ul li img {
  border-radius: 7px 7px 0 0;
  width: 100%;
  height: 129px;
}
main .index_report .w ul li img:hover {
  transform: all 0.5s;
  animation: imgMove 0.8s infinite linear;
}
@keyframes imgMove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
main .index_report .w ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
main .index_report .w ul li .dianping {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 33px;
  color: #333;
  border-radius: 4px;
  margin-top: 10px;
}
main .index_report .w ul li .dianping .index_name {
  margin-left: 6px;
}
main .index_report .w ul li .dianping .dianzan img:nth-of-type(1) {
  position: absolute;
  bottom: 18px;
  right: 35px;
  width: 15px;
  height: 16px;
}
main .index_report .w ul li .dianping .dianzan img:nth-of-type(2) {
  position: absolute;
  bottom: 20px;
  right: 35px;
  display: none;
  width: 15px;
  height: 16px;
}
main .index_report .w ul li .dianping .dianzan span {
  position: absolute;
  bottom: 20px;
  right: 60px;
  width: 15px;
  height: 16px;
}
main .index_report .w ul li .dianping .pinglun img {
  position: absolute;
  bottom: 18px;
  right: 80px;
  width: 15px;
  height: 16px;
}
main .index_report .w ul li .dianping .pinglun span {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 15px;
  height: 16px;
}
main .index_guide {
  width: 100%;
}
main .index_guide .w {
  width: 1000px;
  margin: 0 auto;
}
main .index_guide .w h2 {
  float: left;
  width: 300px;
  margin: 25px 0 25px 15px;
}
main .index_guide .w ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .index_guide .w ul li {
  width: 220px;
  height: 235px;
  margin: 0 13px 30px;
  border-radius: 7px;
  background: white;
  border: 1px solid #dfdcdc;
}
main .index_guide .w ul li a {
  color: #333;
}
main .index_guide .w ul li img {
  border-radius: 7px 7px 0 0;
  width: 100%;
}
main .index_guide .w ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
main .index_guide .w ul li .dianping {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 33px;
  color: #333;
  border-radius: 4px;
  margin-top: 10px;
}
main .index_guide .w ul li .dianping .index_name {
  line-height: 50px;
  margin-left: 6px;
}
main .index_guide .w ul li .dianping .dianzan img:nth-of-type(1) {
  position: absolute;
  bottom: 18px;
  right: 35px;
  width: 15px;
  height: 16px;
}
main .index_guide .w ul li .dianping .dianzan img:nth-of-type(2) {
  position: absolute;
  bottom: 20px;
  right: 35px;
  display: none;
  width: 15px;
  height: 16px;
}
main .index_guide .w ul li .dianping .dianzan span {
  position: absolute;
  bottom: 20px;
  right: 60px;
  width: 15px;
  height: 16px;
}
main .index_guide .w ul li .dianping .pinglun img {
  position: absolute;
  bottom: 18px;
  right: 80px;
  width: 15px;
  height: 16px;
}
main .index_guide .w ul li .dianping .pinglun span {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 15px;
  height: 16px;
}
main .index_guide .w ul li .bian1 {
  width: 90%;
  margin-top: -45px;
  margin: 0 auto;
  padding-bottom: 5px;
  border: 1px solid #dfdcdc;
  border-top: 0;
  border-radius: 0 0 15px 15px;
}
main .index_guide .w ul li .bian2 {
  width: 80%;
  margin-top: -45px;
  margin: 0 auto;
  padding-bottom: 5px;
  border: 1px solid #dfdcdc;
  border-top: 0;
  border-radius: 0 0 15px 15px;
}
main .index_kuwan {
  width: 100%;
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
}
main .index_kuwan .w {
  width: 1000px;
  margin: 0 auto;
}
main .index_kuwan .w h2 {
  margin: 25px 0 25px 15px;
}
main .index_kuwan .w ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
}
main .index_kuwan .w ul li {
  width: 220px;
  height: 230px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 7px;
  margin-bottom: 15px;
}
main .index_kuwan .w ul li img {
  width: 100%;
  border-radius: 7px 7px 0 0;
}
main .index_kuwan .w ul li img:hover {
  transform: all 0.5s;
  animation: imgMove 0.8s infinite linear;
}
@keyframes imgMove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
main .index_kuwan .w ul li h3 {
  margin-left: 6px;
}
main .index_kuwan .w ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #666;
}
main .index_kuwan .w ul li .dianping {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
  color: #333;
  border-radius: 4px;
  margin-top: 10px;
}
main .index_kuwan .w ul li .dianping .money {
  line-height: 12px;
  color: red;
  margin-left: 6px;
}
main .index_kuwan .w ul li .dianping .dianzan img:nth-of-type(1) {
  position: absolute;
  bottom: 18px;
  right: 35px;
  width: 15px;
  height: 16px;
}
main .index_kuwan .w ul li .dianping .dianzan img:nth-of-type(2) {
  position: absolute;
  bottom: 20px;
  right: 35px;
  display: none;
  width: 15px;
  height: 16px;
}
main .index_kuwan .w ul li .dianping .dianzan span {
  position: absolute;
  bottom: 20px;
  right: 60px;
  width: 15px;
  height: 16px;
}
main .index_kuwan .w ul li .dianping .pinglun img {
  position: absolute;
  bottom: 18px;
  right: 80px;
  width: 15px;
  height: 16px;
}
main .index_kuwan .w ul li .dianping .pinglun span {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 15px;
  height: 16px;
}
footer {
  width: 100%;
  background: #505050;
  font-size: 13px;
  color: #a3a3a3;
  clear: both;
}
footer a {
  color: #a3a3a3;
}
footer a:hover {
  color: coral;
}
footer .footer-box {
  padding-top: 50px;
}
footer .footer-box .footer-img {
  float: left;
}
footer .footer-box .footer-img1 {
  margin-left: 15px;
  float: left;
  width: 130px;
}
footer .footer-box .footer-img1 div {
  margin: 25px 0;
}
footer .footer-box .footer-img1 div p {
  margin: 5px 0;
}
footer .footer-box dl {
  float: left;
  margin-left: 30px;
}
footer .footer-box dl dt {
  font-size: 16px;
  color: #F9F9F9;
  font-family: 黑体;
}
footer .footer-box dl dd {
  line-height: 1.5em;
}
footer .footer-box dl dd:first-of-type {
  margin-top: 30px;
}
footer .footer-box dl div {
  float: left;
}
footer .footer-box dl div:last-of-type {
  margin-left: 15px;
}
footer .footer-bottom {
  text-align: center;
  line-height: 30px;
  margin-top: 70px;
}
