main {
  width: 100%;
}
main .section1 {
  width: 100%;
  height: 155px;
  background: #fff;
  border-top: 2px solid #ccc;
}
main .section1 .wrapper {
  text-align: center;
}
main .section1 .wrapper .text {
  font-size: 45px;
  padding: 30px 0 20px;
}
main .section1 .wrapper .text2 span {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}
main .section1 .wrapper .text2 span.active {
  border-bottom: 3px solid #ff6700;
}
main .section1 .wrapper .text2 span.active a {
  color: #ff6700;
}
main .section1 .wrapper .text2 span a {
  color: #3a3a3a;
}
main .section1 .wrapper .text2 span a:hover {
  color: #ff6700;
}
main .section2 {
  width: 100%;
  background: #f7f7f7;
}
main .section2 .nav_new {
  width: 1000px;
  margin: 0 auto;
}
main .section2 .nav_new ul {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
main .section2 .nav_new ul li {
  width: 220px;
  height: 230px;
  background: white;
  border-radius: 7px 7px 0 0;
}
main .section2 .nav_new ul li img {
  width: 100%;
  border-radius: 7px 7px 0 0;
}
main .section2 .nav_new ul li h3 {
  margin-left: 6px;
}
main .section2 .nav_new ul li p {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #666;
}
main .section2 .nav_new ul li .dianping {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
  color: #333;
  border-radius: 4px;
  margin-top: 10px;
}
main .section2 .nav_new ul li .dianping .money {
  line-height: 50px;
  color: red;
  margin-left: 6px;
}
main .section2 .nav_new ul li .dianping .dianzan img:nth-of-type(1) {
  position: absolute;
  bottom: 18px;
  right: 35px;
  width: 15px;
  height: 16px;
}
main .section2 .nav_new ul li .dianping .dianzan img:nth-of-type(2) {
  position: absolute;
  bottom: 20px;
  right: 35px;
  display: none;
  width: 15px;
  height: 16px;
}
main .section2 .nav_new ul li .dianping .dianzan span {
  position: absolute;
  bottom: 20px;
  right: 60px;
  width: 15px;
  height: 16px;
}
main .section2 .nav_new ul li .dianping .pinglun img {
  position: absolute;
  bottom: 18px;
  right: 80px;
  width: 15px;
  height: 16px;
}
main .section2 .nav_new ul li .dianping .pinglun span {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 15px;
  height: 16px;
}
